<template>
	<v-app>
		{{ isConnected }}
		{{ test }}
		<div id="divContent">
			<img src="./assets/images/logo.png" style="width: 50px;">
			<MyComponent msg="Test App" />
		</div>

		<router-view />
	</v-app>
</template>

<script>
const debug = require('debug')('app:main');

import MyComponent from './components/MyComponent.vue';
import { mapState } from 'vuex';

export default {
	name: 'App',
	components: {
		MyComponent
	},
	computed: {
		...mapState({
			test: state => state.main.test,
			isConnected: state => state.main.isConnected
		})
	},
	sockets:{
		connect: function() {
			debug('App: Socket connected');
		}
	}
};
</script>

<style>
	#divContent {
		text-align: center;
	}
</style>
