<template>
	<div>
		<h1>{{ msg }}</h1>

		<v-btn color="success" @click="sendPing">
			Ping
		</v-btn>
	</div>
</template>

<script>
const debug = require('debug')('app:MyComponent');

export default {
	name: 'MyComponent',
	props: {
		msg: {
			type: String,
			default: 'MyComponent'
		}
	},
	methods: {
		sendPing: function() {
			this.$socket.emit('pinger', { test: 'asdf' }, (data) => {
				debug(data);
			});
		}
	}
};
</script>

<style scoped>
</style>
