<template>
	<div>
		Settings
	</div>
</template>

<script>
export default {
	name: 'Settings',
	components: {
	},
	mixins: [
	],
	data () {
		return {
		};
	},
	computed: {
	},
	methods: {
	}
};
</script>

<style scoped>
</style>
